/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto+Slab:wght@100;300&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.footer div ul, .footer div p, .gift-cards .content-column p, section .content .content-column:last-child a, header nav ul {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto Slab", serif;
  width: 100vw;
  height: 300vh;
}
body > *:not(.footer) {
  padding: 0px 140px;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: white;
  padding: 15px 140px;
  z-index: 10;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  width: 20%;
  text-align: center;
}
header nav ul {
  width: 40%;
  display: flex;
  align-items: center;
}
header nav ul:first-child {
  justify-content: flex-start;
}
header nav ul:last-child {
  justify-content: flex-end;
}
header nav li:first-child {
  margin-right: 40px;
}
header nav li:last-child {
  margin-left: 40px;
  display: flex;
  align-items: center;
}

section {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 80px;
}
section .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
section .content .content-column {
  width: 50%;
}
section .content .content-column img {
  width: 100%;
}
section .content .content-column:last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0 100px;
  text-align: center;
}
section .content .content-column:last-child h3 {
  font-family: Roboto Slab;
  font-size: 28px;
  color: #414141;
  font-weight: 100;
  line-height: 36px;
  margin-bottom: 80px;
}
section .content .content-column:last-child a {
  border: 1px solid #414141;
  padding: 20px 50px;
  transition: background 0.3s linear;
}
section .content .content-column:last-child a:hover {
  background-color: white;
}

.discover {
  background-color: #f3ede7;
}

.gift-cards {
  background-color: #dee8e9;
}
.gift-cards .content-column:first-child {
  order: 2;
}
.gift-cards .content-column:last-child {
  order: 1;
}
.gift-cards .content-column p {
  margin-bottom: 40px;
}
.gift-cards .content-column h3 {
  font-style: italic;
}
.gift-cards .content-column .button-book a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gift-cards .content-column .button-book a span {
  display: block;
  margin-left: 30px;
  font-size: 14px;
}

.photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  cursor: pointer;
}
.photos img {
  max-width: 100%;
  height: 100%;
  transition: opacity 0.1s linear;
}
.photos img:hover {
  opacity: 0.5;
}

.footer {
  background-color: #f3ede7;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 60px 40px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
}
.footer div {
  text-align: center;
}
.footer div:nth-child(2) {
  border-left: 1px solid #414141;
  border-right: 1px solid #414141;
}
.footer div p {
  margin-bottom: 30px;
  color: #9d9d9c;
}
.footer div ul {
  color: #414141;
}
.footer div ul li {
  margin-bottom: 15px;
}

/*# sourceMappingURL=style.css.map */
