@import "reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto+Slab:wght@100;300&display=swap");
@import "_variable.scss";
@import "_titles.scss";

* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto Slab", serif;
  // padding: 0px $side_space;
  width: 100vw;
  height: 400vh;
  & > *:not(.footer) {
    padding: 0px 140px;
  }
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: white;
  padding: 15px $side_space;
  z-index: 10;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 20%;
      text-align: center;
    }
    ul {
      width: 40%;
      display: flex;
      align-items: center;
      @extend %miniTitle;
      &:first-child {
        justify-content: flex-start;
      }
      &:last-child {
        justify-content: flex-end;
      }
    }
    li {
      &:first-child {
        margin-right: 40px;
      }
      &:last-child {
        margin-left: 40px;
        display: flex;

        align-items: center;
      }
    }
  }
}

section {
  // height: 80vh;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 80px;
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    .content-column {
      width: 50%;
      img {
        width: 100%;
      }
      &:last-child {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 0 100px;
        text-align: center;
        h3 {
          font-family: Roboto Slab;
          font-size: 28px;
          color: $font_gray;
          font-weight: 100;
          line-height: 36px;
          margin-bottom: 80px;
        }
        a {
          @extend %miniTitle;
          border: $border_1px;
          padding: 20px 50px;
          transition: background 0.3s linear;
          &:hover {
            background-color: white;
          }
        }
      }
    }
  }
}
.discover,
.exhibition-info {
  background-color: $bg_color01;
}

.gift-cards {
  background-color: $bg_color02;
  .content-column {
    &:first-child {
      order: 2;
    }
    &:last-child {
      order: 1;
    }
    p {
      @extend %miniTitle;
      margin-bottom: 40px;
    }
    h3 {
      font-style: italic;
    }
    .button-book {
      a {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          display: block;
          margin-left: 30px;
          font-size: 14px;
        }
      }
    }
  }
}
.photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  cursor: pointer;
  img {
    max-width: 100%;
    height: 100%;
    transition: opacity 0.1s linear;
    &:hover {
      opacity: 0.5;
    }
  }
}

.exhibition {
  width: 100%;

  margin-top: 20px;
  margin-bottom: 200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 60vh);

  .exhibition-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 60vh);
    &:nth-child(even) {
      .content-img {
        order: 1;
      }
    }
    .content-img {
      img {
        width: 100%;
        height: 100%;
      }
    }
    .content-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 100px;
      text-align: center;
      h3 {
        font-family: Roboto Slab;
        font-size: 28px;
        color: $font_gray;
        font-weight: 100;
        line-height: 36px;
        margin-bottom: 80px;
      }
      a {
        @extend %miniTitle;
        border: $border_1px;
        padding: 20px 50px;
        transition: background 0.3s linear;
        &:hover {
          background-color: white;
        }
      }
    }
  }
}
.divide {
  display: block;
  height: 400px;
}
.footer {
  background-color: $bg_color01;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 60px 40px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
  div {
    text-align: center;
    &:nth-child(2) {
      border-left: $border_1px;
      border-right: $border_1px;
    }
    p {
      margin-bottom: 30px;
      @extend %miniTitle;
      color: #9d9d9c;
    }
    ul {
      @extend %miniTitle;
      color: #414141;
      li {
        margin-bottom: 15px;
      }
    }
  }
}
